-- Update all 344 selected exercises to active
UPDATE exercises
SET is_active = true
WHERE id IN (
  '5b867e65-f3ea-45b6-9e90-07f7d43fd1f3',
  '30238275-0e60-4eb8-9a87-5328b82589d6',
  '59f4e819-dbad-459e-9f19-2ce9c3464acb',
  '5835a495-0cad-4b9d-b871-b4fb2172e795',
  '8d05ec90-95a6-4166-a8ee-73642e8aa01f',
  '38694dd3-7649-4311-9ebe-d589b3a25c64',
  'd6f06b43-e840-4c82-9f65-9805d27167c9',
  '60e627ac-d7de-4fba-adc6-c3150b4e928f',
  'e97837a8-c3b6-455a-a9bd-d57bd6b7590b',
  '4c9cc873-4150-426f-8711-4a4f93c0067c',
  '4b1b2076-b799-4bfd-a14d-430c1dd58ba9',
  '453e47bf-d7fc-41b4-aad7-1e2b5220c015',
  'e8976bbf-8217-4f79-9595-921468bceac1',
  'ad851b32-8982-42b7-9f2a-7138362ae956',
  '303841c0-12f2-4729-86cf-1f880115c45f',
  'ce90978c-bd88-46b7-aeae-70d9519d92e6',
  '53580006-5aab-4993-a980-52783a4f79be',
  '1087f9d1-d7d9-45fb-906e-c9e0d2228166',
  'b39a4cd5-4392-4340-83e6-d951020a5970',
  '928da5df-e240-419b-a53c-8272821419ab',
  '66229d1e-97d0-4711-b8bf-11cde2d9dfbe',
  '79c2ec83-b51a-416b-a4c4-cf2da1ec2662',
  'f8de3a90-3a89-46e5-8703-8dcfd0a3f950',
  '7b31f357-69e2-44f6-bcb5-5c43a830f9f8',
  '3b348243-7cd7-4c3b-b0bd-83f91050e84f',
  'de406b92-2cac-4a8a-9288-420e37891eb6',
  'b04dc7aa-768e-4359-8935-594227c7e861',
  'de3713f6-84ea-449f-8191-746da3cc4649',
  '4b1aed9d-7091-4c1e-a516-131112393fc1',
  '0a034b4e-a5c8-46c7-b8ba-c38449ca1f36',
  '2b0eb6fb-f038-4b1d-ba8e-4df7be9a17d6',
  'dd54b095-f754-4935-9cd1-faebc712a6cd',
  '99ed4f72-fc94-4f42-9047-1278d86d86e6',
  '8dec0625-0899-40af-8a75-7b159104a176',
  '38e35308-6281-4510-960d-8c69a464035a',
  '05fe0cfa-71e6-4d03-b0ff-c2b2f7402a6a',
  'a390c3b5-145b-4651-8280-0c60b79c9c17',
  'eb2db474-46f9-47fa-bde7-cbcbd1173602',
  '89f1abbe-b338-452f-982b-9f4ab06db024',
  '92eb66ea-9c12-4b49-a187-9d718fb45e36',
  'fa71af71-7659-4c22-9929-3b1297e3a332',
  '456869b7-f4a6-4335-a6e0-12b8629be7a3',
  'c06ec08c-4533-4246-8ac9-5313895d0c28',
  'ac16502a-108a-4af2-b38c-ea8ffafdc343',
  '9ee55b44-aade-4186-ab3b-3a16713bc548',
  '72fe108d-2e33-4d92-8136-9833c2fe75f3',
  '223975bb-353f-4bdd-942f-d2c263e88d4a',
  '5d4757b7-0cca-432c-90b7-7ff305a702e6',
  '17556155-bda0-4a1d-9f9d-a41617e7c5f7',
  'd0871377-1046-48a0-aff5-ee2c464f4ce1',
  '812e0e18-03e8-49b5-8708-32d2164751ca',
  'ff50ef69-c5ac-4909-8491-612f64bd161e',
  '456d9a22-d318-40d5-8b46-868e9913d235',
  '39dba5da-b6b4-4c96-91a0-3795d137bd4f',
  'bce81249-3a26-43c4-9cd1-4b455fbeb345',
  'b2e85eea-ede8-4b2d-b40b-7c17690b3031',
  'fa9b7861-aad3-4630-ab82-4eb843be93a7',
  '3a3cb55b-118b-4340-8b3c-3c003fa94b45',
  '780f3b77-6f27-4600-b302-6a746352ef7d',
  'fd7ed7d1-5682-496c-8283-712594a4df37',
  'e4823bb4-6d21-44ff-94b8-256f158ea68f',
  '16438b85-6569-44c8-af1a-956062272e9b',
  'e3222289-ca72-4c14-b656-4d14b3558f41',
  '131bacff-0439-4a7e-bac6-cd078ee29e0f',
  'ff8130f5-e2f1-46f8-a474-5b0e87cc7758',
  '0423d48d-3f68-4fb0-bc5a-00ff80e06203',
  '9472bc8e-54d1-4667-83dc-72611fdfb74f',
  '9e132ac0-e3f7-445f-8adc-8bde7e27e466',
  'ae67d1c2-63cf-430a-a922-c757d1dc7582',
  'a7827c14-6359-4ebf-9a83-0d4405f0f839',
  '53b9d425-9d6e-4e8b-a733-023704927828',
  '8658c72b-7cc1-4e89-9571-27cd11545745',
  'bd068632-a439-4a50-b074-38da15b55fc1',
  '8d6a5f07-44bc-4de8-8d65-e65491c7f5c2',
  '628aa6c7-67c1-4c78-b794-df79f453c793',
  'b7c76f56-e75d-471b-bfd2-bd64f5d7ea11',
  'fdb818e2-93bb-409d-90ed-086acc437684',
  'bb2ab3c4-377b-4230-9b13-71af653e7ee5',
  'f24abc3e-bc0e-481f-a82c-951474afa227',
  '9a9b3977-5e2f-4c29-902e-71de97065f02',
  'd53e1c98-ac9b-419c-9867-081dbbee2da9',
  'd560c079-68bf-4c53-9029-d0eb66d22350',
  '38a15c71-d73e-486e-8ebe-07cdcd4e048d',
  'dc4593b2-5d35-4c4b-ad41-82852aa84948',
  'ee949959-2e6a-48f5-8db1-de58b91ebe74',
  'a8111933-c69c-439f-8351-1b5913a7c882',
  '152ecc75-6cf0-4ea6-b945-a7e4faf5b108',
  '544b3573-ed18-4860-ba92-ec7c5255864f',
  'd4b95eed-12c5-4d9c-a9c9-a236138e5a5c',
  'af6c9027-faee-47ee-b8c9-d11462ae17d1',
  '8807a42a-82bf-43cb-b36f-f8ba27efcd6c',
  '6d39eb20-b4f9-4a41-8dff-3b59d6d68725',
  'd84c76cf-3a1f-402a-8089-4301e6e62e46',
  '3e882567-3408-481f-84cf-fe9c6ce7579b',
  '91423918-3b5f-49fe-8398-fe5cd6610970',
  '44dd1632-6fef-4072-b428-67e6d62079aa',
  'b95a9f2b-18ec-418b-92d2-39b71e8a3096',
  '43c27c63-59cb-463c-bf6f-4cf1b4bf9a51',
  'd966091d-547d-421d-a2c6-876f6de88cac',
  '7acfa11e-5d42-421c-8247-9be3b28626f8',
  '4a941c21-2025-4f55-b98f-7381cde54593',
  'b3e9873c-a2fb-4024-b7af-85f76b38307d',
  'b5fcdf74-e4e1-42e5-a152-941adf8739aa',
  'f69312b3-5222-42fc-b38f-837f1d364022',
  'bed4862f-17d8-43c2-b93c-eec4848903cb',
  '3b82d86f-73d7-43c9-85c4-a2a5fa39a0dc',
  '7b2cbb30-0df3-4334-af67-750fce028b22',
  '3b9af854-bf44-422e-a3b8-200291dfc913',
  '30919a1f-c1ac-4262-be34-795622bc769b',
  '205e319e-b97c-4fe4-a137-45e8e42044cb',
  'f58a5a33-30ef-4755-a5c3-e903b3b7473f',
  'd8a3ccc7-e6b4-4b14-bc7c-b9a7c77073ae',
  '859f4709-91f0-41ec-a059-a673bd47ddd4',
  'e0b3fafc-dad9-4d4a-a5a2-5e426843c79e',
  '243b9621-bfca-4b11-b221-9eb4ad8db98f',
  '8c93307f-43b0-4eed-bdb6-dbc4a1382bf2',
  'bacef3b1-5485-4683-8d51-4190934003ed',
  'dd045edb-26c9-4296-b97e-700130ed9754',
  'da93049f-d85f-4d61-b093-3479ce75a3bc',
  'c0687b17-8845-443c-92ee-56482b4f87e6',
  '12189163-d3f1-492b-be1a-0f3896025e55',
  '6e991c38-8b96-4637-9b62-a6f295b16216',
  'bd025764-cee1-435f-a324-7692d30f8c27',
  'ae50f351-f4f0-4026-930f-5e9de7ed7843',
  '6f622452-41bf-4e01-9021-4f8388db6069',
  'd757e227-f836-4022-ad40-199621f01d3f',
  '2cd90c5e-476e-4e4f-841d-ae94aadc28c9',
  'f53fe384-0cc4-4254-9db0-f2ba90932731',
  'f10450d7-c7f7-4dba-aa90-4f2805c0be85',
  'a9c69c6d-87c2-43f8-9e03-aac23091085e',
  '683fdd9d-f8d0-4351-b0e3-b89f0da6d9ab',
  'e1c1a1ce-4bbe-4e6a-8dae-53f819cf05e5',
  'e134f1e5-5570-4d60-9606-177bf99117b9',
  '93cdadc3-d8e5-421d-9ba1-9f00992f6483',
  '7d13b8a1-4744-405f-89fa-d3ff413d91dc',
  'f6872212-5966-4714-be99-0d80d3a9d5a5',
  '6b6110da-c18c-4021-8bf1-0ac7bc59d5c1',
  '502666bb-cd62-4da7-9201-cba438e3c6e3',
  'da5f462c-a2ad-445c-a73f-6f09e7e21d1d',
  '2f4f5129-ada9-4c00-a552-130ae2afa64b',
  '498e76f3-32ac-447b-ae01-a0ee70601050',
  'a9a6f764-6978-4d52-8489-d5de70cf85a3',
  '3b3202dc-2b11-467b-9493-738890727f96',
  '28b531fb-de75-4d6d-877c-42a3fa951169',
  'aa7d0c07-7c7b-47e9-bee0-4565ae30453b',
  'b6f9cf30-5975-4d7a-a5ac-f96190ed54e7',
  'db896e50-9d17-4a5f-9c64-ba130ef9bae9',
  '4b12d0ed-ff67-46fd-8ee0-a152f68a943b',
  'c1382f20-14c4-44da-9d3d-b34685748a7e',
  '863b900d-15e3-4f12-8991-8ee2bb987db5',
  '8ece21cc-9eaa-4a2a-af73-e50a02fb6538',
  '8c883e00-595a-4193-a4d7-9de1b5e84d14',
  'c3e311c7-d9f0-4850-9f01-376c037a7684',
  '82a69625-971d-4e7b-a26c-c04e1ebf7180',
  '8ada58c2-f509-42aa-b57a-e7850d90f9e7',
  '3990209f-150e-41e0-a962-9d94ec336130',
  'ecb726ae-cf85-4106-a6ea-f410adf881e7',
  '09d1289b-9bf2-4168-8a31-45b47b7fdf11',
  '0d27f05c-8edd-408a-8c13-7f1997e637ed',
  '49ad2eaf-e342-453d-a941-e4b449bfe5b9',
  'ee43632c-4a38-44da-8756-0af4d8f01271',
  '09d6f7ea-beea-4c28-98c1-6a6da546b933',
  '189257ce-4c5c-47e5-8d54-204fd208025f',
  'cbdfb352-58b4-48de-8e41-11c9c31b3a47',
  '9538a71e-07a2-4cf5-a0bc-501521b9774d',
  '2d1c99d4-be4c-4495-a7d0-a6f04952a87e',
  'abdfbcea-1be8-4397-95b9-32acb7e90b46',
  'f6215f42-21d2-4504-9d45-1401cf3c20a2',
  '8ce0e0b3-bf08-4eb7-ad23-e6c3f78e11b1',
  'dbda8b6d-88b7-440e-a72b-99a4357356e4',
  '9b70b9e2-b856-4ecf-a140-9f576bdceda3',
  'c54e7519-6a52-417b-af48-a9512968ff36',
  '194b9e26-af8d-4f55-a72c-22c9bba9c4e9',
  '47c2fdd6-eab3-433d-82d4-a1321b991f89',
  'f66a6c36-314d-443a-9468-384f3c72a75c',
  '4ea67c5f-0629-40a6-81b7-cc020d73e58e',
  '187c4fb6-0465-4653-b9b0-9329da0de6f5',
  '2a136c20-6367-44fc-9177-ea718fd66694',
  'bb2dd24e-8d68-49f5-9ca2-cbd48465a59d',
  'a8828b5a-656a-4e28-b481-9254aae51b5a',
  '83a97699-c0ff-4d38-b2c3-76a894712999',
  '4bb4db65-1862-411c-972a-48cf05ffa3fd',
  'bce9d46c-5fff-419a-87d1-21f54b9ad692',
  'd41e6720-166b-47f8-9c68-f69ddf2a6504',
  'c92142a6-57a0-40a9-953d-c6e6895b1592',
  '92814f64-d72e-4a1d-87c8-1edd20b86c68',
  'cd68d02a-521c-45bd-ba36-899f9516996c',
  'be399c4b-6586-48fa-b652-50637e16abfb',
  'cd7d5911-ed42-40af-8d24-89cc38ecf350',
  '921b9fb5-7e1d-4603-b733-1c0dcc9ba159',
  '1ad893b3-5213-4e98-a259-8774aa5a22f2',
  '784913e3-f6e3-44c0-b9dc-c9b9f3b5126d',
  '97196d0d-7574-43db-bb0b-94fa3c8769fc',
  '77b9c89b-1e38-468c-b412-02a65e458e30',
  'd152f697-98e3-4c2e-850e-3f597b8de072',
  '09712751-eab9-4cb1-bde4-74821bd94c9f',
  '9d3735ac-dfb1-45ce-aca2-ea7ef0f69afc',
  '2ddaf3be-803b-4e30-8d6d-40b13eb36ebe',
  'bec6de0c-de43-4896-b389-f84e696ffa99',
  '8b7277c2-9ed5-4577-ba13-4e76be5b568c',
  '0f6f3384-4714-473d-a8b6-2b4ad41445a7',
  '3badc97c-92f1-40f9-85ed-58ea4d24d903',
  '00ca8296-e5ef-4385-9988-634bc5694fe8',
  '1c4c1889-0e61-43c9-bccb-bd207fa5bb1c',
  '4a19fb7c-f663-41f6-9bca-355367fceb2c',
  'c0c96921-839e-4dce-809b-6066180151bc',
  'ce4b0395-eaad-4821-a4f2-48357eb9990a',
  '63f7cab9-8c17-42dd-b6c3-102df9ef44b8',
  '0e9dba39-d3bb-4814-b3ad-d25ec1c63090',
  'f177b96e-2ad5-4fb0-b577-cac28a18d1dc',
  '802d7191-fce4-44bb-9732-18d18c0b8988',
  '97bac6cf-f015-4c38-ad73-083ccb5c3c69',
  '46cead7a-2331-45fc-996f-db4fde142e79',
  '8be1f8b5-3e9b-4f97-a9da-0b05915980aa',
  'af3a12f6-e1c1-419d-ab7d-1b8f7f3e3298',
  '61f9e9e9-3473-4cc2-83f2-30dfc982b210',
  'c1370f34-5188-427b-a917-075b1867d4f6',
  'caf0bdf8-df7e-4fd7-9bc6-c80b71a37e7e',
  '1c2efb44-6386-4f2c-91fd-cfde19cff867',
  'e68f53bf-3490-49ca-a428-2874e7e61a18',
  'ab47546c-79e9-4b11-94c8-24a1f1447745',
  '7913bf10-6e44-459c-a539-47204b47bb1d',
  '4dadbad2-6e13-41b0-b8ab-7b240f6d3e69',
  '4f25d478-3956-49f4-8fcc-c440678799d3',
  'e6ded03d-f766-49d9-9a04-cd72e14b5e27',
  'dcff146a-92ec-473e-8053-3cf8231baa04',
  '32e4cb96-ffdd-41cf-98fc-365519b9e780',
  'e28fb9fc-72f8-4cee-8408-9d70e6214192',
  '18ee671b-b219-4a3b-9caa-78fb7a17502a',
  '5957af8d-2ed5-4e60-8c5a-346a21c77f3c',
  '56e5390b-22da-47cd-9c38-a7e398a050e9',
  '534b5827-a554-4cf4-b52b-f26644b60f07',
  '3810b72c-0895-402b-b153-8bd7d6cbc0a1',
  '48b4c378-7401-4026-9505-895a8aad7d16',
  '07448aa1-a9ca-4ede-a847-060dc58e5c41',
  'c5c699c7-01c9-4809-9898-1b7c769b9e2c',
  'd008bde6-1fed-45ac-bd69-c82f72464708',
  'a56ba147-c2e9-4a66-bcc7-1bde6eee1788',
  '1063d786-4ce0-4a4a-8f07-281e9d0a105f',
  '86184201-87ec-4719-b4fb-dd8de8d38d74',
  '44684300-25d7-428b-9f2f-88bddcfc3eef',
  'edc7895b-d9b0-4065-92d9-919a21a8b9a9',
  '76d214db-b557-41f1-8e02-075cdc5a2c89',
  'b99618eb-7d1d-402f-ba2d-8d4c7d46b2ec',
  '9adffacf-c70d-48c3-9dc0-090fd420b22c',
  '9a30dd7e-01c6-4230-83d6-e53d79ea05dd',
  '9543cf61-696c-4967-8cc6-0fe1b75d4b74',
  '949ab2ee-6d97-4c16-a148-cb2031f9bd39',
  '2f7c5c4f-c331-4ebb-9039-217e6384b1a7',
  '219a75de-72dc-44cf-91f1-21c292ab98c3',
  '070bbf94-5896-4816-837c-c7e1b27a7585',
  '61214fa6-1dc6-494e-9b42-2ede63f038f0',
  '84603b4d-e272-4310-92ce-0bb5caf48874',
  '5bfe9da5-cf87-43ce-b5c5-75b87029baab',
  '6d99e847-3c2f-4330-8170-c2822ea74487',
  'b7e70da7-25c6-4d5c-80f1-2591b78b0b54',
  '2880e2ac-1c88-4df9-a612-625af2bc799b',
  '6b6e37a5-a47c-4327-b530-bd7216a5f2a5',
  '0476c4fe-7b74-4497-9f0e-0a1491ca410f',
  '4483a5e9-29b0-4beb-8ca5-ecd66c98e5be',
  'ae39c73e-4ebd-4ebc-b22a-ef96b192a032',
  '371a805e-4c74-4eb9-9cc5-ea2784c7d115',
  '1fce1ac4-1968-45d3-a3b2-01ce3d7f67ab',
  '8bf62edb-71b8-42a1-bc59-22cae256b707',
  '238d5721-d924-4358-8161-928cc729fa66',
  '0b6ab2aa-72a4-4268-9b84-27fbdae98a7e',
  'e855481d-2e2e-475e-b12b-2cbbd189af07',
  'e50a7618-52b2-46e1-ab23-b834dcd568ed',
  'be9218a6-f364-4e8d-b70e-c2f8d8fac685',
  'ab9047aa-061e-47df-b71c-6e1ad5d26573',
  '8bb8eefc-0ff8-4661-9222-e4594a75e0d4',
  '68532225-499f-45c7-8b8f-dfdefb0bb818',
  '45bdd910-9812-4d27-8e1f-80ee8abcb7f3',
  '4023d453-dea7-4fd0-9b04-f53b79e0de84',
  'cb0606ad-9bd9-4bc8-9b34-64713e5b6b38',
  '217cd571-9f41-4b77-9f80-332697d2953f',
  'a06cfe54-a22a-4c52-9783-5dd3a26659f9',
  '51e53e3f-bc1c-443d-a107-5e2fbddb2f83',
  '7d82fc62-c87d-4649-9f82-2c8c1dc0e6f9',
  '238725c1-d10e-4486-a375-f2acdfbe6ed4',
  'cee0123e-1ec7-48a0-b4a6-1c8f905e9922',
  '770eaf26-0eea-4fc8-a065-29b0e6e542e9',
  '5fa4d2f1-3aac-4f4b-b20e-d3f5e466d53a',
  'cdcacf6d-af2b-45b9-8363-150fc073f754',
  '4d091826-9504-47c7-85ce-72b28c16d86a',
  '00bccf52-29cf-4f72-8c73-860f21555567',
  '7b028019-e22b-4aab-91c9-f7a8102bde74',
  'dcc98659-78b4-4bc8-bb51-e2d2561206d6',
  'd54aa39c-4495-462d-91c4-5189ece472fd',
  '15594242-bf3c-4eec-ac4d-7f30c0cd8d60',
  '9f8f3ddf-51b3-417c-abc2-03e34cbec695',
  '777ac820-6914-4ed0-a205-70a4a9459025',
  'de4a0dcb-d303-4287-8c66-95888b8022fa',
  '82110d9f-0c0f-46a7-98e8-daf8063030c6',
  '99f649b3-c1be-40b2-a8c9-3bab110666d3',
  '3b0e9e15-996e-4ccd-b369-605140594683',
  'd367c45e-07c5-42d4-821d-92f00cfc01f2',
  '11816808-a59d-4470-9dbd-2d218781fea9',
  'e21f7220-6e83-441c-8e4a-b3103e31bded',
  'c9832460-618b-4921-a8be-260b19e0060b',
  'b4756129-12e5-4748-bb56-ae03f0127845',
  'fb4a4f6f-2d63-4298-b648-420c99023fd1',
  '6418c13f-70f3-4f13-af53-c24ec1ed83ac',
  '137b0025-de5e-4178-abc0-323f1643788e',
  'e09739cb-3b6e-4fca-9fef-62bacab80601',
  'bfe4bf3f-8031-4897-9f87-5781777b096c',
  'b960b951-8695-451e-be0c-58184f98164e',
  '88154744-e25d-489f-a16b-7f4966d4e715',
  'e680e2de-1648-4143-8688-964b817159d8',
  '8df94312-feaf-4356-84d7-e536b3cd922a',
  '1cfea776-c464-418a-84dd-c68bf0c2f35b',
  'e745c2de-b835-4c9f-bb64-ee0db9cead87',
  '288f49fd-5056-41c9-b6d3-f41f46ccaf48',
  '49a79ac1-2224-43ac-84b3-e7e5df86d87b',
  '612e6bb6-9f0d-4829-b7f2-991420bc1930',
  'eeee9400-fb28-4eb9-b333-4b99dcba56af',
  'e7c9bf82-4187-440e-9179-61b58d85626a',
  '586bbf42-1a51-4262-8cb2-f26e691af17f',
  'e362b57b-fe40-4d39-b061-6b3c0d3c31a9',
  '13c34d5f-6cf0-4bb8-81a3-d3cad94e8f14',
  '138d0530-3603-48bb-99c5-e5d49277d1f6',
  '19de968d-2a21-4152-aaea-573e1b74b40c',
  '1b6ed88a-b521-470e-bb79-f586187abb43',
  '7d2de010-5a09-49f1-8253-d142c02aa81d',
  '856aa69b-dd3c-43d0-baf7-01f8f58bfc70',
  '62e94432-d415-48d1-9a65-32aa020e6aea',
  'b63136b7-627d-4d78-9107-1cd7a16d58a4',
  '6edda779-773c-4dbc-9eff-9224f96ea275',
  'c99e142c-dae1-40df-aa10-f012a881e517',
  '572883b4-9ddf-4ee0-90da-51fa60cba8dc',
  '228571ed-f178-4d4e-afbc-a696f6e90745',
  '342037be-2fbb-40a5-8dc1-1665eea37e59',
  '28bee6b8-95da-4e1f-95c9-dd71bc4909c9',
  '55a13df9-4cff-446c-9b8a-c7de2ebb7371',
  '8fc01d04-4997-4a6f-abfb-e6d4c311f57e',
  '1a89f96f-cbf8-4524-84ef-cfd9caba290d',
  '3f021d8d-ea4f-4d04-90fa-2e56399a7f40',
  '7284e525-b186-421d-9271-6d7a71c0c1c4',
  '5e26d998-0f2a-42a8-9933-3740c0753868',
  '07af85f7-d184-4897-a1d9-ec0acef62deb',
  '3c3ce9ff-a4dd-484c-ad0a-31a0d8c19ab7',
  '64c23694-f5e4-4567-b14b-d90f883717ef',
  '95985af5-dc04-4d71-a329-3eedaa3ab56a',
  '09f9cedf-3a20-46d9-b282-51c5c12ffee0'
);

-- Verify the update
SELECT COUNT(*) as active_count FROM exercises WHERE is_active = true;
